:root {
--main-bg-color:#ab81bf;
--main-bg2-color:#e858da;
--main-fg-color:#16091c;
}

body {
  background-Color: var(--main-bg-color);
  color:var(--main-fg-color);
  font-size:x-large;
}

.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

div.job-listing {
    border: 1px solid #e4e4e4;
    width: 80%;
    background-color: #e4e4e4;
}

img#egoImage {
  float: left;
  border: none;
  width: 100px;
  margin-right:10px;
}

img.voicePrompt {
  max-height:20px;
  max-width:20px;
  height:20px;
}

table.recipeList.recipe-listing tr th, table.recipeList.recipe-listing tr td {
  font-size:large;
  font-weight:normal;
}

table.recipeList.recipe-listing tr th.image, table.recipeList.recipe-listing tr td.image {
  max-width:100px;
  max-height:100px;
}

table.recipeList.recipe-listing tr th.title, table.recipeList.recipe-listing tr td.title {
  width: 290px;
}

table.recipeList.recipe-listing tr th.author, table.recipeList.recipe-listing tr td.author {
  width: 170px;
}

table.recipeList.recipe-listing tr th.version, table.recipeList.recipe-listing tr td.version {
  width: 34px;
}

table.recipeList.recipe-listing tr th.serves, table.recipeList.recipe-listing tr td.serves {
  width: 28px;

}

table.recipeList.recipe-listing tr th.preptime, table.recipeList.recipe-listing tr td.preptime {
  width: 49px;
}

table.recipeList.recipe-listing tr th.cooktime, table.recipeList.recipe-listing tr td.cooktime {
  width: 49px;
}

table.recipeList.recipe-listing tr th.portion, table.recipeList.recipe-listing tr td.portion {
  width: 34px;
}

table.recipeList.recipe-listing tr th.description, table.recipeList.recipe-listing tr td.description {
  width:100%
}

table.recipeList.brief thead tr.header th, table.recipeList.brief tbody tr td {
  font-size:large;
  font-weight:normal;
}

table.recipeList.brief thead tr.header th.image,table.recipeList.brief tbody tr td.image,table.recipe-listing td.image
{
  width:104px;
}

table.recipeList.brief tbody tr td.image,table.recipe-listing td.image {
  height:104px;
}

table.recipeList.brief thead tr.header th.image img, table.recipeList.brief tbody tr td.image img,table.recipe-listing
td.image img {
  max-width: 100px;
  max-height: 100px;
}

table.recipeList.brief thead tr.header th.title, table.recipeList.brief tbody tr td.title {
  width: 290px;
}

table.recipeList.brief thead tr.header th.author, table.recipeList.brief tbody tr td.author {
  width: 170px;
}

table.recipeList.brief thead tr.header th.version, table.recipeList.brief tbody tr td.version {
  width: 34px;
}

table.recipeList.brief thead tr.header th.serves, table.recipeList.brief tbody tr td.serves {
  width: 28px;
}

table.recipeList.brief thead tr.header th.preptime, table.recipeList.brief tbody tr td.preptime {
  width: 49px;
}

table.recipeList.brief thead tr.header th.cooktime, table.recipeList.brief tbody tr td.cooktime {
  width: 49px;
}

table.recipeList.brief thead tr.header th.portion, table.recipeList.brief tbody tr td.portion {
  width: 34px;
}

table.recipeList.brief thead tr.header th.description, table.recipeList.brief tbody tr td.description {
  width:100%
}

div#audio-div {
  left: 2-px;
  margin: 5px;
}

div.float-left {
  float:left;
  display:inline;
}