<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head th:fragment="head">
    <!-- Bootstrap stylesheets and script -->
    <title th:text="'Dirty Dishes &amp; Empty Plates' + ${title == null ? '' : ' :: ' + title}">Dirty Dishes &amp;
      Empty Plates</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/" />
    <link href="/css/dirtydishes.css" rel="stylesheet" />
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  </head>
<body>
  <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a th:href="@{/}" class="navbar-brand">Dirty Dishes &amp; Empty Plates</a><span th:text="${title == null ? '' : ' :: ' + title}"></span>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
<!--          <li th:if="${(!loggedin) && (title != 'login')}"><a th:href="@{/login}">Login</a></li>-->
<!--          <li th:if="${title != 'register'}"><a th:href="@{/register}">Register</a></li>-->
<!--          <li th:if="${(!!loggedin) && (title != 'login') && (title != 'register')}"><a th:href="@{/logout}">Logout</a></li>-->
        </ul>
      </div>
    </div>
  </div>

  <table class="recipeList brief" th:fragment="recipe-list">
    <caption>Yes, you&apos;re going to get hungry reading this list of recipes ... that&apos;s the entire point..</caption>
    <thead>
    <tr th:class="header">
      <th th:class="image">Teaser</th>
      <th th:class="recipe">Recipe</th>
      <th th:class="author">Author</th>
      <th th:class="version">Ver</th>
      <th th:class="serves">Srv</th>
      <th th:class="preptime">Prep</th>
      <th th:class="cooktime">Cook</th>
      <th th:class="portion">Size</th>
    </tr>
    </thead>
    <tbody th:each="recipe: ${recipes}" th:class="${recipeStat.odd}?'odd':'even'">
    <tr>
      <td th:class="image" rowspan="2">
        <img th:src="${recipe.image}">
      </td>
      <td th:class="recipe">
        <a th:href="@{'/recipe/' + ${recipe.id}}" th:text="${recipe.title}"></a>
      </td>
      <td th:class="author" th:text="${recipe.author}"></td>
      <td th:class="version" th:text="${recipe.version}"></td>
      <td th:class="serves" th:text="${recipe.servesCompressed()}"></td>
      <td th:class="preptime" th:text="${recipe.preptimeFmt()}"></td>
      <td th:class="cooktime" th:text="${recipe.cooktimeFmt()}"></td>
      <td th:class="portion" th:text="${recipe.portion}"></td>
    </tr>
    <tr th:class="description">
      <td th:class="description" th:text="${recipe.description}" colspan="7"></td>
    </tr>
    </tbody>
  </table>
  
</body>
</html>