<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Dirty Dishes and Empty Plates</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width"/>
  <base href="/"/>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/dirtyplates.css"/>
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container body-content">
    <h2>Dirty Dishes & Empty Plates</h2>
    <p>
      <a href="/images/Your-Chef-Anthony-Redmond-In-Blue.jpg" target="vanity"><img id="egoImage"
        src="/images/Your-Chef-Anthony-Redmond-In-Blue.jpg"></a>
      <img src="/images/voice-prompt.png" onclick="document.getElementBy('audio').play(); return false;"
               class="voice-prompt">
      <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
      </form>
  
      I&apos;m Executive Chef Anthony Redmond. I enjoy teasing the senses to enrage
      the appetite, making his guest suffer a voracious need to devour the delicious
      dishes before them. On this site I will take the users on a journey meant to
      arouse each of the culinary senses: Aroma, taste, feel, until one can literally
      hear one&apos;s growling stomach demanding to be satisfied.
  
      Within also are tools to help those across the full spectrum of from home chef to professional,
      &quot;What&apos;s a spatula&quot; to &quot;tempering eggs is indeed an art,
      but an attainable one&quot; achieve dishes that will thrill them through
      every stage: prep, cooking, and eating; delighting their guests.
    </p>

</div>

<div id="audio-div">
  <audio id="audio" controls preload="auto">
    <source src="/media/Dirty-Dishes-and-Empty-Plates-Intro.m4a" type="audio/m4a">
    Your browser doesn&apos;t support the audio element.
  </audio>
</div>
</body>
</html>
