<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
  <title>Home</title>
</head>
<body class="container">
  <header th:replace="fragments :: page-header"></header>
  <div class="container body-content">
    <h2>Dirty Dishes & Empty Plates</h2>
    &copy; 2021 by Anthony Kush, all rights reserved.<br /><br />
    <div th:if="${loggedin}">
      <h1 th:text="'Welcome, ' + ${user.username} + '!'"></h1>
    </div>
    <div>
      <p>
        <a href="/images/Your-Chef-Anthony-Redmond-In-Blue.jpg" target="vanity"><img id="egoImage"
          src="/images/Your-Chef-Anthony-Redmond-In-Blue.jpg"></a>
          <img src="/images/voice-prompt-sm.jpg" class="voicePrompt" onclick="document.getElementById('audio').play(); return false;">
        I&apos;m Executive Chef Anthony Redmond. I enjoy teasing the senses to enrage
        the appetite, making his guest suffer a voracious need to devour the delicious
        dishes before them. On this site I will take the users on a journey meant to
        arouse each of the culinary senses: Aroma, taste, feel, until one can literally
        hear one&apos;s growling stomach demanding to be satisfied.
      </p>
      <p>
        Within also are tools to help those across the full spectrum from home chef to professional,
        &quot;What&apos;s a spatula&quot; to &quot;tempering eggs is indeed an art,
        but an attainable one&quot; achieve dishes that will thrill them through
        every stage: prep, cooking, and eating; delighting their guests.
      </p>
      <div id="audio-div">
        <audio id="audio" controls preload="auto">
          <source src="/media/Dirty-Dishes-and-Empty-Plates-0002.m4a" type="audio/m4a">
          <source src="/media/Dirty-Dishes-and-Empty-Plates-0002.m4a" type="audio/mpeg">
          Your browser doesn&apos;t support the audio element.
        </audio>
      </div>
    </div>
    <div class="container body-content">
      <h2><a href="/recipe/">Recipes</a></h2>
      Just a taste, or an appetizer if you will. You must be logged in to access our full catalogue, and the
      complete listing of each recipe.
    </div>
  </div>
  <div>
    <div th:if="${loggedin}">
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
      </form>
    </div>
    <div th:if="${!loggedin}">
      <div class="float-left">
        <form th:action="@{/login}" method="post">
          <input type="submit" value="Log in"/>
        </form>
      </div>
      <div class="float-left">
      &nbsp;or&nbsp;
      </div>
      <div class="float-left">
        <form th:action="@{/register}" method="post">
          <input type="submit" value="Register"/>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
