<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
  <title>Recipe</title>
</head>
<body class="container">
<header th:replace="fragments :: page-header"></header>

<div class="container body-content">
  
  <h1 th:text="${title}">Default Title</h1>

  <div th:switch="${recipe != null}">
    <div th:case="true" th:class="recipe-listing">
      <table class="recipe-listing">
        <tr>
          <td th:class="image" rowspan="2">
            <a th:href="${recipe.getImage()}" target="recipeImages">
              <img th:src="${recipe.getImage()}">
            </a>
          </td>
          <td th:class="id" th:text="${'ID: ' + recipe.id}">id</td>
          <td th:class="title" th:text="${'Title: ' + recipe.title}">title</td>
          <td th:class="author" th:text="${'Author: Anthony Redmond'}">author</td>
        </tr>
        <tr>
          <td th:class="preptime" th:text="${'Prep: ' + recipe.preptimeFmt()}">prep time</td>
          <td th:class="cooktime" th:text="${'Cook: ' + recipe.cooktimeFmt()}">cook time</td>
          <td th:class="serves" th:text="${'Serves: ' + recipe.serves()}">serves</td>
        </tr>
        <tr>
          <td th:class="description" colspan=4 th:text="${'Description: ' + recipe.description}">description</td>
        </tr>
        <tr>
          <td th:class="instructions" colspan=4 th:utext="${recipe.instructionsHTML()}">instructions</td>
        </tr>
      </table>
    </div>
    <div th:case="*" th:class="recipe-listing">
      <recipes th:replace="fragments :: recipe-list"></recipes>
    </div>

  </div>
</div>

</body>
</html>