<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
  <!--ul>
      <li th:each="job : ${jobs}">
          <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
      </li>
  </ul-->
  <h1 th:text="${'Recipe: ' + recipe.title}">Default Title</h1>

  <nav th:replace="fragments :: page-header"></nav>

  <div class="recipe-listing">
    <!--
    title, author, serveQty, serveQtyType, prepTime, cookTime, portion
    -->
    <table th:text="$'ID: recipe_' + recipe.id}" class="recipe-listing">
      <tr>
        <td th:text="${'ID: ' + recipe.id}"></td>
        <td th:text="${'Title: ' + recipe.name}"></td>
        <td th:text="${'Author: ' + recipe.author}"></td>
        <!--td th:text="${'Serves: ' + recipe.serveQty}"></td-->
      </tr>
    </table>
  </div>

</div>

</body>
</html>